body, h1, p, div, img {
    margin:0px;
    padding: 0px;
    /* background-color:#2dcc70; */
    font-family: Arial, Helvetica, sans-serif;
}

.verde{
    color: #2dcc70;

}

/* formatação do cabeçalho */
h1{
    font-family: 'Pacifico', cursive;
    font-size:38pt;
}

.cabecalho{
    background-image:url('./img/banner.png');
    background-size:cover;
    display:flex;
    justify-content:space-around;
    align-items: center;


}


.cabecalho div{
    color:white;
    width:20vw;
    margin-left: 150px;
}

.cabecalho p{
    margin:60px 0 20px 0;
    text-align:justify;
}


.cabecalho a{
    background-color:rgba(41, 37, 37, 0.514);
    padding:10px;
    margin-right: 10px;
    border-radius: 50%;

}

nav{
    display: flex;
    
}

.cabecalho a:hover{
    background-color: #2dcc70;
}

.hand{
    margin-top:100px;
    margin-right: 50px;
    width:27vw;
}

/* fim da formação do cabeçalho */
    /* primeira section  area sobre*/
.area-sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 40vh;
}

.card{
    width: 20vw;
    display:flex;
    flex-direction: column;
    align-items: center;
   
}

.card p{
    color:#989898;
    text-align: center;
}
.area-img{
    background-color: #2dcc70;
    width: 60px;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    padding: 10px;
}
/* fim da primeira section area sobre */

/* começo da segunda section  cadastro*/
 .area-cadastro{
     display:flex;
     height: 60vh;
     background-color: #e3e3e3;
     justify-content: space-around;
     align-items: center;
     flex-wrap:wrap;
 }

.card-cadastro{
    width: 40vw;
}
.card-cadastro h3{ font-style: none;}
.card-cadastro p{
    line-height:170%;
    color:#919191;
}

.campo{
    display:flex; 
    margin-top:20px;
}

.campo input{
    width: 50%;
    height: 25px;
    padding: 10px;
    border-style: none;
    border-radius:8px 0px 0px 8px; 
}

.campo button{
    background-color:#2dcc70;
    color:#fff;
    padding:5px 25px;
    font-weight: bold;
    border-radius: 0px 8px 8px 0px;
    border-style:none;

}

.video{
    height: 300px;
    width: 400px;
    border-radius:5px;
}
 /* fim da segunda section cadastro */



